<label class="input">
    <% if defined?(labelText) %>
      <span class="input__label">
        <%= labelText %><%= defined?(required) ? '*' : ''%>
      </span>
    <% end %>

    <div class="uploader">
      <div class="uploader__icon-wrap">
        <%= render template: 'marketing/common/icon', :locals => {
          iconName: 'ui_upload_cloud',
          iconClass: 'uploader__icon'
        }  %>
      </div>

      <div class="uploader__text">
        <p><span>Click to upload</span>
        or drag and drop </p>
        SVG, PNG, JPG or GIF (max. 800x400px)
      </div>

      <input
        type="file"
        name="<%= defined?(name) ? name : '' %>"
        <%= defined?(required) ? 'required=required' : ''%>
        class="uploader__field"
        />
    </div>

    <% if defined?(comment) %>
        <span class="input__comment">
          <%= comment %>
        </span>
    <% end %>
</label>