<% content_for :head do %>
<meta name="turbo-cache-control" content="no-preview">
<% end %>
<% content_for :content do %>
<div data-turbo="true" data-controller="tabs-hash-navigator">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="pull-left">
				<a class="btn btn-breadcrumb" href="/events">
					<span class="chevron">
						<i class="fa fa-chevron-left" aria-hidden="true"></i>
					</span>
					<span class="link_text">All Events</span>
				</a>
			</div>
		</div>
	</div>


	<div class="row mb-20">
	  <div class="col-md-12 col-lg-12 col-sm-12 title-and-button-container">
	    <h2 class="pull-left event-name editable" data-controller="editable" data-event-name="<%=@event.title%>" data-editable-url-value="/events/<%=@event.id%>" data-pk="1" data-name="event_name"><%=@event.title%></h2>
	    <a href="/events/<%=@event.id%>/attendance" class="btn btn-outline pull-right"><i class="far fa-clipboard"></i> Take Attendance</a>
	  </div>
	</div>

	<div class="row mb-10">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<div class="">
				<div class="tabbable-panel events-main-tab-panel">
					
					<div class="row" >
						<div class="col-md-12 col-lg-12 col-sm-12">
							<ul class="nav nav-pills " data-controller="autocollapse-tabs" data-action="resize@window->autocollapse-tabs#autocollapse" data-autocollapse-tabs-max-height-value="50" data-autocollapse-tabs-target="nav">
								
								<li class="<%= 'active' if request.path.ends_with?(@event.id.to_s)%>">
									<a data-toggle="tab" href="#calendar">
									Event Calendar </a>
								</li>
								<li class="<%= 'active' if request.path.ends_with?("/invited")%>">
									<a data-toggle="tab" href="#invited" >
									Invited </a>
								</li>
								<li class="<%= 'active' if request.path.ends_with?("/automations")%>">
									<a data-toggle="tab" href="#automations" >
									Automations </a>
								</li>
								<li class="<%= 'active' if request.path.ends_with?("/rsvps")%>">
									<a data-toggle="tab" href="#rsvps" >
									RSVPs </a>
								</li>
								<li class="dropdown d-none" data-autocollapse-tabs-target="dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="DropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-diplay="static">
										<i class="fas fa-ellipsis-h"></i>
									</a>
									<ul class="dropdown-menu p-2 dropdown-menu-right" aria-labelledby="DropdownMenu">
									</ul>
								</li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<div class="white-box tab-content events-main-tab-content extra-mobile-padding">
				
				<div class="tab-pane active" id="calendar">
					<%= yield %>
				</div>
				<div class="tab-pane" id="invited">
					<turbo-frame id="tab_invited_content" target="_top" src="/events/<%=@event.id.to_s%>/invited">
						<div class="rp_spinner"><div class="fa fa-circle-o-notch r fa-spin"></div></div>
					</turbo-frame>
				</div>
				<div class="tab-pane" id="automations">
					<turbo-frame id="tab_automations_content" target="_top" src="/events/<%=@event.id.to_s%>/automations">
						<div class="rp_spinner"><div class="fa fa-circle-o-notch r fa-spin"></div></div>
					</turbo-frame>
				</div>
				<div class="tab-pane" id="rsvps">
					<turbo-frame id="tab_rsvps_content" target="_top" src="/events/<%=@event.id.to_s%>/rsvps">
						<div class="rp_spinner"><div class="fa fa-circle-o-notch r fa-spin"></div></div>
					</turbo-frame>
				</div>
			</div>
		</div>
	</div>
</div>
<%= turbo_stream_from @event %>
<% end %>
<%= render template: "layouts/dashboard" %>


