<title>Reset Password - Solidarity Tech</title>


<div class="col-lg-8 col-md-10 col-sm-8 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">

<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: "/solidarity_users/password", html: { method: :put, "data-controller" => "form parsley", "data-parsley-target" => "form", "data-action" => "turbo:submit-start->form#loading" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>


  <div class="field form-group">
    <%= f.label :password, "New password", class: "readonly-label" %><br />
    
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", minlength: 10, required: true, 'data-parsley-minlength' => '10', id: 'password'  %>
    <% if @minimum_password_length %>
     <br /><em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "Confirm new password", class: "readonly-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",  class: "form-control", minlength: 10, required: true, 'data-parsley-minlength' => '10', 'data-parsley-equalto' => '#password'  %>
  </div>

  <div class="actions">
    <!-- <%= f.submit "Change my password" %> -->
    <button type="submit" name="commit" value="Change my password" class="btn btn-primary"  style='margin-top:20px;'  data-form-target="submitButton">Change my password</button>
  </div>
<% end %>


</div>

