<section class="cta beveled">
    <div class="cta-left">
        <div class="cta-left__content">
            <%= render template: 'marketing/common/icon', :locals => { :iconName => Mock::CTA[:left][:icon], :iconClass => 'cta-left__icon' } %>
            <h3 class="cta-left__title"><%= Mock::CTA[:left][:title] %></h3>
            <p class="cta-left__description"><%= Mock::CTA[:left][:description] %></p>
            <%= render template: 'marketing/common/button-dark', :locals => { :text => Mock::CTA[:left][:button][:text], :link => Mock::CTA[:left][:button][:link] } %>
        </div>
    </div>

    <div class="cta-right">
        <div class="cta-right__content">
            <%= render template: 'marketing/common/icon', :locals => { :iconName => Mock::CTA[:right][:icon], :iconClass => 'cta-right__icon' } %>
            <h3 class="cta-right__title"><%= Mock::CTA[:right][:title] %></h3>
            <p class="cta-right__description"><%= Mock::CTA[:right][:description] %></p>
            <%= render template: 'marketing/common/button-dark', :locals => { :text => Mock::CTA[:right][:button][:text], :link => Mock::CTA[:right][:button][:link] } %>
        </div>
    </div>
</section>