<section class="cta beveled">
    <div class="cta-left">
        <div class="cta-left__content">
           <svg style="transform: rotate(-11deg);" xmlns="http://www.w3.org/2000/svg" height="50" width="50" xmlns:xlink="http://www.w3.org/1999/xlink" width="1080" zoomAndPan="magnify" viewBox="0 0 810 809.999993" height="1080" preserveAspectRatio="xMidYMid meet" version="1.0"><path fill="#000000" d="M 748.441406 42.121094 C 708.75 37.261719 600.210938 39.691406 469.800781 169.289062 C 441.449219 197.640625 413.101562 230.851562 387.179688 264.871094 L 386.371094 264.058594 L 268.109375 264.058594 C 242.191406 264.058594 217.890625 274.589844 199.261719 292.410156 L 89.101562 403.378906 C 74.519531 417.960938 85.859375 442.261719 106.109375 441.449219 L 291.601562 433.351562 C 279.449219 470.609375 277.828125 500.578125 293.21875 515.96875 C 308.609375 531.359375 338.578125 530.550781 375.839844 517.589844 L 367.738281 703.078125 C 366.929688 723.328125 391.230469 734.671875 405.808594 720.089844 L 516.78125 609.121094 C 535.410156 590.488281 545.128906 566.191406 545.128906 540.269531 L 545.128906 422.011719 L 544.320312 421.199219 C 577.53125 396.089844 609.929688 368.550781 639.089844 339.390625 C 770.308594 210.601562 772.738281 102.058594 767.878906 61.558594 C 767.070312 51.03125 758.96875 42.929688 748.441406 42.121094 Z M 693.359375 179.820312 C 675.539062 197.640625 647.191406 197.640625 630.179688 179.820312 C 612.359375 162 612.359375 133.648438 630.179688 116.640625 C 648 99.628906 676.351562 98.820312 693.359375 116.640625 C 711.179688 134.460938 711.179688 162.808594 693.359375 179.820312 Z M 204.929688 540.269531 L 68.851562 676.351562 C 63.179688 682.019531 53.460938 682.019531 46.980469 676.351562 C 41.308594 670.679688 41.308594 660.960938 46.980469 654.480469 L 183.058594 518.398438 C 188.730469 512.730469 198.449219 512.730469 204.929688 518.398438 C 210.601562 524.878906 210.601562 534.601562 204.929688 540.269531 Z M 202.5 629.371094 L 66.421875 764.640625 C 60.75 770.308594 51.03125 770.308594 44.550781 764.640625 C 38.878906 758.96875 38.878906 749.25 44.550781 742.769531 L 180.628906 607.5 C 186.300781 601.828125 196.019531 601.828125 202.5 607.5 C 208.171875 613.171875 208.171875 622.890625 202.5 629.371094 Z M 290.789062 626.941406 L 155.519531 763.019531 C 149.851562 768.691406 140.128906 768.691406 133.648438 763.019531 C 127.980469 757.351562 127.980469 747.628906 133.648438 741.148438 L 269.730469 605.070312 C 275.398438 599.398438 285.121094 599.398438 291.601562 605.070312 C 297.269531 611.550781 297.269531 621.269531 290.789062 626.941406 Z M 290.789062 626.941406 " fill-opacity="1" fill-rule="nonzero"/></svg>
            <h3 class="cta-left__title"><%= Mock::CTA[:left][:title] %></h3>
            <p class="cta-left__description"><%= Mock::CTA[:left][:description] %></p>
            <%= render template: 'marketing/common/button-dark', :locals => { :text => Mock::CTA[:left][:button][:text], :link => Mock::CTA[:left][:button][:link] } %>
        </div>
    </div>

    <div class="cta-right">
        <div class="cta-right__content">
            <%= render template: 'marketing/common/icon', :locals => { :iconName => Mock::CTA[:right][:icon], :iconClass => 'cta-right__icon' } %>
            <h3 class="cta-right__title"><%= Mock::CTA[:right][:title] %></h3>
            <p class="cta-right__description"><%= Mock::CTA[:right][:description] %></p>
            <%= render template: 'marketing/common/button-dark', :locals => { :text => Mock::CTA[:right][:button][:text], :link => Mock::CTA[:right][:button][:link] } %>
        </div>
    </div>
</section>