<section class="wrap hero <%= defined?(extraClass) ? extraClass : '' %>" style="
  --from-left: <%= image[:fromLeft] %>;
  --from-right: <%= image[:fromRight] %>;
  --c-background: <%= colors[:background] %>;
">
  <div class="wrap hero__wrap">
    <div class="content hero__content">
        <%= render template: 'marketing/common/label_icon', :locals => label %>
        <h1 class="hero__title"><%= title %></h1>
        <p class="hero__description"><%= description %></p>
        <div class="hero__image-wrap">
          <%= render template: 'marketing/common/image', locals: {
            :image => image[:src],
            :className => 'hero__image',
          } %>
        </div>
    </div>
    <% if defined?(bg_image[:src]) %>
      <div class="hero-bg">
        <%= render template: 'marketing/common/image', locals: {
          :image => bg_image[:src],
          :className => 'hero-bg__image',
        } %>
      </div>
    <% end %>
  </div>
  <% if defined?(overlay_image[:src]) %>
    <div class="hero-overlay">
      <%= render template: 'marketing/common/image', locals: {
        :image => overlay_image[:src],
        :className => 'hero-overlay__image',
      } %>
    </div>
  <% end %>
</section>
