<!DOCTYPE html>
<html id="action_page">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <meta name="turbolinks-cache-control" content="no-cache"> -->
		<%= csrf_meta_tags %>
		<script src="https://js.stripe.com/v3/"></script>
		<%= javascript_include_tag 'account' %>
		<%= stylesheet_link_tag 'account' %>
		<%= yield(:head) -%>
	</head>
	<body>



		<div class="p-3 px-md-4 mb-3 bg-white border-bottom fixed-top d-flex justify-content-between align-items-center" >
			<div class="d-flex flex-row flex-md-row align-items-center">
			  	<% if @organization && !@organization.icon.blank? %>
              		<img style="display:inline;" src="<%= @organization.icon_url %>" height="29"/>
            	<% end %>
              	<h5 class="my-0 mr-md-auto font-weight-normal ml-3"><%=@organization.name if @organization%></h5>
            </div>
            <div class="d-flex">
            	<div class="mr-2"><%=current_user.first_name.to_s%></div>
            	<a data-turbo="false" href="/logout">(Logout)</a>
            </div>
		</div>


		<div data-controller="donations-manager">
		   <!-- Begin page content -->
		    <main role="main" class="container">

			   	<div class="container-fluid">
				    <div class="row min-vh-100 flex-column flex-md-row">
				        <aside class="col-12 col-md-4 p-0 flex-shrink-1">
				            <nav class="navbar navbar-expand flex-md-column flex-row align-items-start py-2 justify-content-around">
				                <div class="collapse navbar-collapse w-100">
				                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
				                    	<li class="nav-item">
				                    		<h6 class="pl-0 text-nowrap nav-link text-secondary font-weight-bold">Contributions</h6>
				                    	</li>
				                        <li class="nav-item <%='active' if request.path=='/donations'%>">
				                            <a class="nav-link pl-0 text-nowrap" href="/donations"><i class="fas fa-receipt"></i> <span class="ml-1">History</span></a>
				                        </li>
				                        <li class="nav-item <%='active' if request.path.starts_with?('/donations/recurring')%>">
				                            <a class="nav-link pl-0" href="/donations/recurring"><i class="fas fa-redo-alt"></i> <span class="d-md-inline ml-1">Recurring</span></a>
				                        </li>
				                      
				                    </ul>
				                </div>
				            </nav>
				        </aside>
				        <main class="col bg-faded py-3 flex-grow-1 main-container-container col-md-8 col-sm-12">
				           <%= yield %>
				        </main>
				    </div>
				</div>
			</main>
		</div>




	</body>
</html>